@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
	--primary-color: #047aed;
}

* {
	box-sizing: border-box;
	padding: 0;
	/* margin: 0; */
}

body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
	color: rgb(66, 66, 66);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2 {
	font-weight: bold;
	line-height: 1.2;
	margin: 20px 0;
}

p {
	margin: 10px 0;
}

.showcase {
	height: 461px;
	background-color: #2876f9;
	background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
	color: white;
	position: relative;
}

.showcase h1 {
	font-size: 40px;
}

.showcase .showcase p {
	margin: 20px 0;
}

.showcase-form .requestaccount {
	width: 100%;
	height: 130px;
	background-color: rgb(245, 245, 245);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px 40px 0 0;
}

.showcase .grid {
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;
	overflow: visible;
}

.showcase-form {
	position: relative;
	top: 120px;
	height: 550px;
	width: 600px;
	z-index: 100;
	justify-self: center;
}

.showcase-form .form-control {
	margin: 50px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
	border: 0;
	border-bottom: 1px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;
}

.showcase-form input:focus {
	outline: none;
}

.showcase-form .user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	width: 100%;
	padding: 30px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

#wave {
	position: absolute;
	bottom: -40px;
	height: 342px;
	right: 0;
	left: 0;
}

.user:hover {
	cursor: pointer;
}

.flex-user img {
	border-radius: 100%;
	margin-right: 10px;
}

h4 {
	position: relative;
	top: -1px;
	font-weight: bold;
}

/* Profile */

.profile .grid-3 {
	grid-template-columns: 20% 30% 50%;
	overflow: hidden;
}

.current-profile .flex {
	justify-content: center;
}

.profile .navbar .flex {
	justify-content: space-between;
	position: relative;
	top: 15px;
}

.profile .side-menu {
	height: 800px;
	margin-top: 55px;
	margin-left: 18px;
}
.the-map img {
	width: 641px;
	height: 410px;
	border-radius: 31px;
}

.the-map {
	margin-left: 61px;
}
.current-profile img {
	border-radius: 100%;
	margin-right: 20px;
}

.current-profile h4 {
	margin-top: 10px;
}

.allExceptCurrentUser .flex {
	justify-content: space-between;
}

.allExceptCurrentUser img {
	margin-left: 10px;
}

.more-user-info {
	position: relative;
}

.more-user-info .chat-box .card {
	position: absolute;
	width: 100px;
	height: 100px;
}

.menus {
	padding: 39px 30px 39px 9px;
	background-color: #2876f9;
	background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
	color: white;
	height: 100%;
}

.menus a {
	color: rgb(202, 199, 199);
	margin-bottom: 2px;
	padding: 10px;
}

.menus a:active {
	color: white;
	text-decoration: none;
	outline: none;
}

.menus a:focus {
	text-decoration: none;
	color: white;
}

.menus ul li:first-child {
	color: white;
}

.menu a:hover {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
.menus .card-new nav ul {
	margin-bottom: 20px;
}

.flex-item-1 img {
	border-radius: 100%;
	height: 234px;
	margin-top: 23px;
	width: 243px;
}

.navbar {
	margin-top: 30px;
}

.navbar .container {
	max-width: 800px;
}

.navbar .container .flex {
	margin: 30px;
}

.container-fluid {
	padding-right: 39px;
	padding-left: 49px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
}

.navbar hr {
	max-width: 720px;
	margin: 0 auto;
	background-color: #333;
}

.container .flex h2 {
	font-weight: bold;
}

.flex-item-1 {
	margin-left: 55px;
}

.flex-item-1 > div {
	text-align: center;
}

.flex-item-2 .user-info {
	padding: 10px;
	margin: 2px;
}

.flex-item-2 .user-info a {
	font-weight: bold;
	color: #999;
}

.flex-item-3 ul li {
	font-weight: bolder;
}

.flex-item-3 ul li a {
	font-weight: bold;
	color: #999;
}

.more-user-info .still-user-info {
	margin-bottom: 20px;
}

.more-user-info .still-user-info ul li a {
	font-weight: bold;
	color: #999;
}

.more-user-info .still-user-info ul li {
	font-weight: bolder;
}

.user-profile .also-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* Utilities */
.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card {
	background-color: white;
	color: #333;
	border-radius: 40px;
	box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
}

.card-new {
	background-color: white;
	color: #333;
	border-radius: 40px;
	width: 281px;
	margin-top: -20px;
	height: 909px;
}

.menus .card-new {
	margin-top: -17px;
	margin-left: -25px;
	width: 277px;
}

.btn {
	left: 156px;
	display: inline-block;
	position: relative;
	padding: 10px 30px;
	cursor: pointer;
	background: #d55151;
	color: white;
	border: none;
	border-radius: 32px;
	top: 9px;
	/* right: -79px; */
	left: 94px;
	outline: none;
}

.btn-outline {
	background-color: transparent;
	border: 1px white solid;
}

.btn:hover {
	transform: scale(0.98);
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	height: 100%;
}

.flex-user {
	display: flex;
	justify-content: center;
	align-items: center;
}

.users-container {
	height: 400px;
	overflow: auto;
}

.users-model-container {
	max-height: 155px;
	overflow: auto;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.profile_container {
	clear: both;
	height: auto;
	margin-top: 0px;
}
.profileModal .profile_container {
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.ul_style {
	line-height: 42px;
	font-size: 20px !important;
	font-weight: bolder;
}
.col-lg-2 {
	width: 20% !important;
}
.col-lg-10 {
	width: 80% !important;
}
.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	bottom: 23px;
	float: right;
	/* right: -34px; */
	width: 268px;
	margin-right: 100px;
	width: 280px;
}
.chat-popup {
	position: absolute;
	right: 17px;
	width: 278px;
	float: right;
	bottom: 53px;
	height: auto;
	max-height: 200px;
	border: 1px solid #ddd;
	border-bottom: 0px !important;
}

.final-h3 h3 {
	text-align: center;
	margin-top: 301px;
	font-size: 67px;
	color: rgb(214, 214, 214);
}

nav {
	padding: 20px;
}

nav ul {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 18px;
}

.close {
	border-radius: 50px;
	background-color: red;
	opacity: 1;
}

button.close {
	cursor: pointer;
	background: 0 0;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.modal-dialog {
	float: right;
	position: relative;
	top: 63px;
	left: 14%;
}
.modal-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	outline: 0;
	border-radius: 50px;
	height: 464px;
	width: 350px;
	margin-left: 0;
}

.btn-danger {
	border-radius: 50px;
	background-color: rgb(217, 83, 79);
	margin-left: 183px;
	margin-bottom: 18px;
	margin-top: -11px;
}

.users-container a {
	text-decoration: none;
}

.open-button {
	background: blue;
	border-radius: 10px 10px 0 0;
}
.side-menu hr:last-child {
	display: none;
}
.signOut {
	text-align: center;
}
.signOut button {
	position: relative;
	left: -90px;
}

.h2 h2 {
	font-size: 22px;
}

.h4 h4 {
	font-size: 16px;
}

#namecard {
	font-size: 24px;
}

.model-card {
	position: relative;
	background-color: white;
	color: #333;
	border-radius: 40px;
	box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
	width: 100px;
}

.hidden {
	display: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;

	background-color: white;
	padding: 6rem;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}

.hidden {
	display: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;

	background-color: white;
	padding: 6rem;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}
.modal_class {
	position: relative !important;
	float: right;
	right: 25px;
	height: 483px;
	top: 15%;
	width: 23%;
	border: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
	overflow: auto;
	border-radius: 55px;
	outline: none;
	box-shadow: 0 13px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	/* bottom: 113px; */
	/* margin-bottom: -94px; */
	bottom: 38px;
}
.pl-0 {
	padding-left: 0px !important;
}
